.header {
  background-color: #202020;
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 1rem;
  justify-content: space-between;
  color: #b0aeaa;
  position: sticky;
  z-index: 98;
  top: 0;
  box-shadow: 0px 2px 8px 0px rgba(22, 22, 21, 0.35);

  & > section {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  h1 a {
    color: #ffa115;
    font-size: 1rem;
    font-weight: 500;
  }

  a {
    text-decoration: none;
  }
}

.btnText {
  background: none;
  border: none;
  width: fit-content;
  cursor: pointer;
  color: #b0aeaa;
  font-weight: 600;
}

.dropdown {
  color: #fff;
  min-width: 20rem;

  h2 {
    font-size: 0.88rem;
    margin-bottom: 1rem;
  }

  .dropdownList {
    max-height: 30vh;
    overflow-y: scroll;
    padding-right: 0.5rem;

    /* width */
    &::-webkit-scrollbar {
      width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #2c2c2c;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #5b5955;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #84827e;
    }

    .dropdownItem + .dropdownItem {
      border-top: 1px solid #444340;
    }

    .dropdownItem {
      padding: 1.5rem 0;

      a p {
        color: #fff;
      }

      .timestamp {
        margin-top: 0.5rem;
        font-size: 0.88rem;
        color: #9c9995;
      }
    }
  }
}

/* User Profile Dropdown Styles */
.userProfileDropdown {
  min-width: 12rem; // Adjust the width as desired

  .dropdownList {
    .dropdownItem {
      padding: 0.75rem 1rem; // Adjust padding as desired

      a {
        display: flex;
        align-items: center;
        color: #b0aeaa; // Color for the text in the dropdown
        text-decoration: none;

        &:hover {
          color: #ffa115; // Color for the text on hover
        }
      }
    }
  }
}
.userProfileDropdownHolder {
  article {
    margin-top: 0.85rem; // Adjust this value as desired
    padding-top: 0;
  }
}
