.header {
  background-color: #202020;
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 1rem;
  justify-content: space-between;
  color: #B0AEAA;

  & > section {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  h1 {
    color: #FFA115;
    font-size: 1rem;
    font-weight: 500;
  }

  a {
    text-decoration: none;
  }
}

.btnText {
  background: none;
  border: none;
  width: fit-content;
  cursor: pointer;
  color: #B0AEAA;
  font-weight: 600;
}