.header {
  background-color: #202020;
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 1rem;
  justify-content: space-between;
  color: #B0AEAA;
  position: sticky;
  z-index: 98;
  top: 0;
  box-shadow: 0px 2px 8px 0px rgba(22, 22, 21, 0.35);

  & > section {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  h1 a {
    color: #FFA115;
    font-size: 1rem;
    font-weight: 500;
  }

  a {
    text-decoration: none;
  }
}

.btnText {
  background: none;
  border: none;
  width: fit-content;
  cursor: pointer;
  color: #B0AEAA;
  font-weight: 600;
}

.dropdown {
  color: #fff;
  min-width: 20rem;

  h2 {
    font-size: 0.88rem;
    margin-bottom: 1rem;
  }

  .dropdownList {
    max-height: 30vh;
    overflow-y: scroll;
    padding-right: 0.5rem;
  
    /* width */
    &::-webkit-scrollbar {
      width: 6px;
    }
  
    /* Track */
    &::-webkit-scrollbar-track {
      background: #2C2C2C;
    }
  
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #5B5955;
    }
  
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #84827e;
    }

    .dropdownItem + .dropdownItem {
      border-top: 1px solid #444340;
    }
    
    .dropdownItem {
      padding: 1.5rem 0;

      a p {
        color: #fff;
      }

      .timestamp {
        margin-top: 0.5rem;
        font-size: 0.88rem;
        color: #9C9995;
      }
    }
  }
}